body {
    background-color: whitesmoke;
    margin: 2%;
}

#border{
    border: 16px solid rgb(226, 142, 64);
    border-style: solid;
    border-radius: 25px;
}

#border2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  border: none; 
}

#clickMe {
    margin: 20%;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    
}

